body {
    overflow: hidden;
  }
  
  .containero {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    background-color: rgb(78, 87, 84);
  }
  
  #sidebar{
    background-color: #111;
    padding: 0;
  }

  #sidebar a:hover, a:active, a:focus{
    color: #daa520;
  }
  
  #sidebar a {   
    text-decoration: none;
    font-size: 0.8em;
    color: #daa520;
    display: block;
    transition: 0.3s;
    padding-top: 2em;
  }

  #sidebar .btn{
    color: #daa520;
  }
  
  .header{
    background-color: rgb(39, 37, 37);
    overflow: hidden;
  }

  .header a{
    text-decoration: none;
    color: #daa520;
  }
  
  #body {
    display: grid;
    grid-template-rows: 1fr 7fr;
    overflow: hidden;
  }
  
  #content {
    overflow-y: scroll;
    padding: 20px;
    background-color: rgb(187, 179, 179);
  }