:root{
  --main-bg-color:#372c2e;
  --main-primary:#563727;
  --main-secondary:#7a431d;
  --text-color:#de9e48;
  --main-lastcolor:#ffffff;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 5em;
  margin: 0;
  background-color: var(--main-bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.card{
  background-color: var(--main-primary);
}

#content{
  color:var(--text-color);
}

.navbar{
  background-color: var(--main-primary);
}


.navbar a, button{
  color: var(--text-color);
}

.navbar a:hover, a:active, a:focus, button:hover {
  color: var(--main-lastcolor);
}

.btn-search{
  background-color: var(--main-secondary);
  color:var(--text-color);  
}

.btn-search:hover{
  color:var(--main-lastcolor);
}

.td{
  background-color: var(--main-primary);
  color:var(--text-color);  
}

.td:hover{
  background-color: var(--main-secondary);
  color: var(--text-color)
}

.tr{
  background-color: var(--main-secondary);
  color:var(--text-color);  
}

.modal-content{
  background-color: var(--main-secondary);
  color: var(--text-color)
}

.bg-static{
  background-color: var(--main-primary);
  color:var(--text-color);  
}