/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 18em; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 1.5em;
    transition: 0.5s;
    white-space: nowrap;
  }
  
  /* The navigation menu links padding: 8px 8px 8px 8px;*/
  .sidenav a {  
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, a:active, a:focus{
    color: #daa520;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    height: 100%;
    transition: margin-left .5s;
    padding: 0;
    margin-left: 250px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 
 
  #backsearch{
    height: 7em;
    padding-left:0;
    margin-left: 0;
    background-color: #343a40;
  }
