<nav class="navbar navbar-expand-lg fixed-top" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" fill="currentColor" class="bi bi-gem icon"
                viewBox="0 0 16 16">
                <title>Gem</title>
                <desc>An image of a cut diamond, it's a link for the home page</desc>
                <path
                    d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
            </svg>
            Privilege
        </a>
        <button class="navbar-toggler p-0 border-0" data-bs-toggle="collapse" data-bs-target="#navbars" type="button" id="navbarSideCollapse"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">V</span>
        </button>

        <div class="navbar-collapse offcanvas-collapse collapse" id="navbars">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../rentalWarning/rentalWarnings.html">Noleggi a rischio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../customerPages/customersPage.html">Clienti</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">Inventario</a>
                    <ul class="dropdown-menu bg-static">
                        <li><a class="dropdown-item td" href="../inventoryPages/productsPage.html">Cerca un prodotto</a></li>
                        <li><a class="dropdown-item td" href="../inventoryPages/productsManagement.html">Crea prodotto</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">Noleggi</a>
                    <ul class="dropdown-menu bg-static">
                        <li><a class="dropdown-item td" href="../rentPages/rentalsPage.html">Cerca noleggio</a></li>
                        <li><a class="dropdown-item td" href="../rentPages/rentalForecast.html">Crea un noleggio</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../offertPages/offer.html">Pagina Offerte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../employeePage/employeesPage.html">Impiegati</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout" onclick="logOut()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Opzioni per l'utente -->
<!--
 <div class="dropdown"> 
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>ilTuoNome</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" id="logout" href="#">Sign out</a></li>
    </ul>
</div> -->