<div class="sidebar">
    
    <a id="brand" href="#" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="currentColor" class="bi bi-gem icon" viewBox="0 0 16 16">
            <title>Gem</title>
            <desc>An image of a cut diamond, it's a link for the home page</desc>
            <path
                d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
        </svg>
        <nobr>Privilege</nobr>
    </a>

    <hr style="border-top: 1px solid #daa520;">

    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                Noleggi
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../rentPages/rentalManagement.html" class="link-dark rounded">Gestione richieste</a></li>
                    <li><a href="../rentPages/viewRentals.html" class="link-dark rounded">Noleggi previsti</a></li>
                    <li><a href="../rentPages/rentalForecast.html" class="link-dark rounded">Previsione Noleggi</a></li>
                    <li><a href="../rentPages/addRental.html" class="link-dark rounded">Aggiungere Noleggi</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                Inventario
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../inventoryPages/addProductPage.html" class="link-dark rounded">Aggiungere prodotto</a></li>
                    <li><a href="../inventoryPages/addUnitPage.html" class="link-dark rounded">Aggiungere unit</a></li>
                    <li><a href="../inventoryPages/productsPage.html" class="link-dark rounded">Lista Prodotti</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Clienti
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="../customerPages/customersPage.html" class="link-dark rounded">Lista clienti</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <hr style="border-top: 1px solid #daa520;">
</div>
